[submodule "tutorials/continuous_integration"]
	path = tutorials/continuous_integration
	url = https://github.com/felixduvallet/ros-travis-integration.git

# submodule "path" where path is acutal path within repo where submodule will be
# used.

#use git submodule status to check without running ci tests.